name: Setup-Go test

on:
    workflow_dispatch:

jobs:
    run:
        name: Setup Go and install vuls-data-update
        runs-on: ubuntu-latest
        steps:
            - name: Maximize build space
              uses: easimon/maximize-build-space@v10
              with:
                  root-reserve-mb: 32768
                  remove-dotnet: "true"
                  remove-android: "true"
                  remove-haskell: "true"
                  remove-codeql: "true"
                  remove-docker-images: "true"

            - name: Check out code into the Go module directory
              uses: actions/checkout@v6
              with:
                  repository: MaineK00n/vuls-data-update
                  ref: main

            - name: Set up Go 1.x
              uses: actions/setup-go@v6
              with:
                  go-version-file: "go.mod"
              env:
                GOPATH: ${{ github.workspace }}/go

            - name: show go environment
              run: go env

            - name: Install vuls-data-update
              run: go install ./cmd/vuls-data-update
              env:
                  GOEXPERIMENT: jsonv2

            - name: Verify installation
              run: vuls-data-update help